h1 {
    font-family: monospace;
    text-shadow: 0 0 10px #222;
    text-align: center;
    margin: 0;
    padding: 10px;
}

body {
    background: linear-gradient(135deg, #5f319c 0%, #231495de 100%);
}